<div class="navbar">
  <div class="navbar-links">
    <a href="<%= root_path(:anchor => 'portfolio') %>" class="navbar-btn" ><p>Portfolio</p></a>
    <a href="<%= root_path(:anchor => 'presentation') %>" class="navbar-btn" ><p><%= t('navbar-presentation') %></p></a>
    <a href="<%= root_path(:anchor => 'avis') %>" class="navbar-btn" ><p><%= t('navbar-avis') %></p></a>
    <a href="<%= root_path(:anchor => 'contact') %>" class="navbar-btn" ><p>Contact</p></a>
  </div>
  <%= render 'layouts/locale_desktop' %>
</div>
